# For development, use: pip install -r requirements/all.txt
# For production, use: pip install -r requirements/base.txt
# For testing, use: pip install -r requirements/test.txt
# For linting/type-checking, use: pip install -r requirements/dev.txt

-r requirements/all.txt
